* {
    box-sizing: border-box;
}

.navbar-default .navbar-brand{
	color: #004b9a;
}

.navbar-default .navbar-toggle:hover {
    border-color:#004b9a;
}

.navbar {
    background-color: #f5f3c3;
}

.page-header {
    margin: 0px;
    padding: 0px;
    border-bottom: none;
}

ul.navbar-nav li {
    background-color: rgba(255, 0, 0, 0.36);
    margin-top: 1px;
}

#collapsable-nav {
    clear: both;
    border: 0px;
}

#nav-list {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.content {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #d6f5eb;
}

#main-container {
    margin-left: 30px;
    margin-right: 30px;
}

h3 {
    padding-top: 10px;
}
